# Archivos de Godot
.godot/
*.import
export_presets.cfg
/android/

# Herramientas y Editores
.vscode/
.history/
*.code-workspace
.DS_Store
Thumbs.db
desktop.ini

# Temporales y Logs
*.tmp
*.log
*.bin

# Recursos de arte (opcional, actívalo si no quieres archivos fuente en el repo)
*.psd
*.blend
*.fbx
*.obj
*.gltf
*.glb

# Carpetas de pruebas específicas
agi/Scenes/Test/
agi/Scenes/Test/Kipfel/
agi/Scenes/Test/**/*.tscn
